header, main{
    margin: 60px 135px;

}

.nav-name{
    display: flex;
    gap: 15px;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav ul {
    display: flex;
}
nav ul li {
    list-style: none;
    margin-right: 15px;
}
nav   a{
   text-decoration: none;
}

/* banner section */
.banner{
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    padding: 100px 280px;
}
.banner-description{
    text-align: center;
}

/* select part */
.select , option{
    color:rgb(123, 120, 120);
    padding: 10px;
    border-radius: 5px;
    width: 95px;
}
.where-go{
    padding: 10px;
    color: darkgray;
    border-radius: 5px;
   border: 0;
   width: 80px;
}
.form{
    margin-top: 40px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 15px;
}
.where-go-2{
    padding: 10px;
    color: white;
    border-radius: 5px;
   border: 0;
   width: 80px;
   background-color: orangered;
}

/* tow-part start */

.tow-part{
    display:flex;
    gap: 50px;
    margin-top: 50px;
    align-items: center;
}
.tow-part-description ,li{
    margin-top: 15px;
}
.tow-part-description li ,p{
    color: gray;
}

/* button */
.btn-primary{
    background-color: orangered;
    color: white;
    padding: 9px 15px;
    border-radius: 5px;
    border: 0;
}

.tow-part-image img{
    /* width: 100%; */
    height: 400px;
}

/* tow-part end */


/* middle-state start */

.middle-state{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;

}

/* middle-state end */

/* main gdir */

.grid-section{
    margin-top: 40px;
  
}

 .row{
   display: flex;
   gap: 24px;
 }
 .row img{
    width: 100%;

   
 }
 .row div{
    width: 50%;
    margin-top: 14px;
 }

 /* catd design */

 .card{
    display: flex;
    gap: 24px;
 }
 .card-one{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 10px 30px;
 }
.card-two{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 10px 30px;
}

.single-card{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    
    
}
.card-three{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 10px 30px;
    width: 416px;
}

/* swimming-pool */
.cox-outside , .swimming-pool-3{
    background-image: url(Images/pool.png);
    padding: 50px 70px 50px 530px ;
  
}
.cox{
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    /* width: 400px; */
    padding: 30px 20px 20px 30px;
    /*  */
}
.button{
    margin-top: 10px;
}
span {
    margin-right: 10px;
}
i{
    margin:0 10px ;
    /* background-color: orangered; */
    color:orangered;
   
}

.swimming-pool-2{
    background-image: url(Images/pool.png);
    padding:50px 530px 50px 70px ;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* input */

input{
    padding: 7px;
   margin: 5px 0;
}
.tow-part-description-2{
    background-color: cornsilk;
    padding: 50px;
}
footer{
    padding: 80px 270px ;
    background: rgba(19, 19, 24, 0.05);
}
.ffff{
    display: flex;
    gap: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.icons{
    text-align: center;
}
/* main gdir */
